h1{
  color: pink
}
p{
  color:green;
  background-color:white
}
  body{
    background-image: url("https://avatars.mds.yandex.net/get-zen_doc/920263/pub_5c36d9af67712a00abd799f6_5c36ff25e5e73b00aad0b2de/scale_1200");
  }
